::selection {
    background: #E0E0FF;
}  
.border {
    position: fixed;
    background-color: gray;
    top: 0;
    left: 0;
    opacity: .8;
    height: 100%;
    pointer-events: none;
    transition: ease-in 0.3s;
}
.border-right {right: 0}
.border-bottom {bottom: 0;}